@import "../../App.scss";

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  &-title {
    margin: 0;
    margin-top: 15px;
    color: #000;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
  }
}

.form {
  display: flex;
  flex-direction: row;
  gap: 50px;

  &-title {
    margin: 0;
    color: #665CD1;
    font-family: Mulish;
    font-size: 19px;
    font-weight: 700;
  }

  &-points {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-point {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 630px;
      border: 1px solid #C4C4C4;
      border-radius: 10px;

      &-title {
        color: #262626;
        margin: 0;
        margin-top: 15px;
        margin-left: 15px;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 700;
      }

      &-data {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-left: 15px;
        margin-bottom: 15px;
        margin-right: 15px;

        &-wrapper {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }

        &-info {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &-title {
            color: #5A5A5A;
            font-family: Mulish;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.calendar-img {
  position: absolute;
  z-index: 10;
  margin-left: 196px;
  width: 25px;
  height: 25px;
}

.text-info {
  padding-bottom: 4px;
  outline: none;
  border: none;
  color: #262626;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #665CD1;

  &-workTime {
    width: 114px;
  }

  &-arriveTime {
    width: 92px;
  }
}